// Your variable overrides
$body-bg: #FFFFFF;
$body-color: rgb(240, 240, 240);
$theme-colors: (
    "info": teal,
    "danger": tomato,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/bootstrap-utilities.scss';

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '~bootstrap/scss/_functions.scss';

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

// 4. Include any optional Bootstrap components as you like
@import '~bootstrap/scss/_root.scss';
@import '~bootstrap/scss/_reboot.scss';
@import '~bootstrap/scss/_type.scss';
@import '~bootstrap/scss/_images.scss';
@import '~bootstrap/scss/_containers.scss';
@import '~bootstrap/scss/_grid.scss';

// 5. Add additional custom code here